{% extends "mivs_base.html" %}
{% block body %}

<h2>Your MIVS Games For Review</h2>

You ({{ judge.full_name }}) have been assigned {{ judge.reviews|length }} games for review
of which {{ judge.video_reviews|length }} have had their videos reviewed
and {{ judge.game_reviews|length }} have had the actual game reviewed.

<table class="table">
<thead>
    <tr>
        <th>Game</th>
        <th>Studio</th>
        <th>Video Review Status</th>
        <th>Game Review Status</th>
    </tr>
</thead>
<tbody>
{% for review in judge.reviews %}
    <tr>
        <td>{{ review.game.title }}</td>
        <td>{{ review.game.studio.name }}</td>
        <td><a href="video_review?id={{ review.id }}">{{ review.video_status_label }}</a></td>
        <td>{{ review.game_status_label }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
