{% extends "mivs_base.html" %}
{% block body %}

<h2>Your MIVS Games For Review</h2>

You ({{ judge.full_name }}) have been assigned {{ judge.reviews|length }} games for review
of which {{ judge.video_reviews|length }} have had their videos reviewed
and {{ judge.game_reviews|length }} have had the actual game reviewed.

<table class="table datatable">
<thead>
    <tr>
        <th>Game</th>
        <th>Studio</th>
        {% if c.ALLOW_GAME_SUBMISSION %}
            <th>Game Review Status</th>
            <th>Your Score</th>
        {% else %}
            <th>Video Review Status</th>
        {% endif %}
    </tr>
</thead>
<tbody>
{% for review in judge.reviews %}
    {% if not c.ALLOW_GAME_SUBMISSION or review.game.status != c.VIDEO_DECLINED %}
        <tr>
            <td>{{ review.game.title }}</td>
            <td><a href="studio?id={{ review.game.studio.id }}">{{ review.game.studio.name }}</a></td>
            {% if c.ALLOW_GAME_SUBMISSION %}
                <td><a href="game_review?id={{ review.id }}">{{ review.game_status_label }}</a></td>
                <td>{{ review.game_score|default("not reviewed yet") }}</td>
            {% else %}
                <td><a href="video_review?id={{ review.id }}">{{ review.video_status_label }}</a></td>
            {% endif %}
        </tr>
    {% endif %}
{% endfor %}
</tbody>
</table>

{% endblock %}
