{% extends "mivs_base.html" %}
{% block body %}

{% if studio.is_new %}
    <h2>MAGFest Indie Videogame Showcase</h2>
    Explanation text will go here.  We'll need to explain that this is just where they tell us about their studio
    and then they'll be taken to a page where they can add info about their game(s).  We'll also want to include a
    link to where they can "log in" to continue an existing application.
{% else %}
    <h2>Edit Your Studio Information</h2>
{% endif %}

<form method="post" action="studio" class="form-horizontal" role="form">
    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-3 control-label">Studio Name:</label>
        <div class="col-sm-6">
            <input class="form-control focus" type="text" name="name" value="{{ studio.name }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Mailing Address:</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="address" rows="4">{{ studio.address }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Website:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="website" value="{{ studio.website }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Twitter Handle:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="" value="{{ studio.twitter }}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label optional-field">Facebook Page:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="" value="{{ studio.facebook }}" />
        </div>
    </div>

    {% if studio.is_new %}
        <h3>Your Contact Info</h3>

        <div class="form-group">
            <label class="col-sm-3 control-label">First Name:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="first_name" value="{{ developer.first_name }}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Last Name:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="last_name" value="{{ developer.last_name }}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Email Address:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="email" value="{{ developer.email }}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Cellphone Number:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="cellphone" value="{{ developer.cellphone }}" />
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">{% if studio.is_new %}Register Studio{% else %}Upload Changes{% endif %}</button>
        </div>
    </div>
</form>

{% endblock %}
